<!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>Hi, our team is pretty new to web development. We are doing our best to fullfill the requirements. Thank you</p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img width="150", height="150", class="img-circle img-responsive img-center" src="/images/red.png" alt="">
      <h3>Jie Lin
        <small>Student</small>
      </h3>
      <p>Coding!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img width="150", height="150", class="img-circle img-responsive img-center" src="/images/blue.png" alt="">
      <h3>Jingfu Jiu
        <small>Student</small>
      </h3>
      <p>Coding!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img width="150", height="150", class="img-circle img-responsive img-center" src="/images/black.png" alt="">
      <h3>Qing Chen
        <small>Student</small>
      </h3>
      <p>Coding!</p>
    </div>
    
    
  </div>

  <hr>
